$baseFontSize: 16px;
$mainFontFamily: "Helvetica";

@mixin small {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin medium {
    @media (min-width: 600px) {
        @content;
    }
}
@mixin large {
    @media (min-width: 1200px) {
        @content;
    }
}

@function em($px, $base: $baseFontSize) {
    @return ($px / $base) * 1em;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: $mainFontFamily;
}